---
layout: page
description: "A Clean Blog Theme by Start Bootstrap"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        {% if post.cover-img %}
        <img class="post-cover" src="{{ post.cover-img }}" alt="{{ post.title }}">
        {% endif %}
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="clearfix">
    {% if paginator.previous_page %}
    <a class="btn btn-secondary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="btn btn-secondary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    {% endif %}
</div>
{% endif %}
